@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

a {
    color: var(--Valge, #FFF);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    background: var(--Must, #000);
    text-decoration: none;
}

a:hover {
    color: #20C4F4;
    background: var(--Must, #000);
}

.navbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: relative;
    top: 0;
    left: 0;
    align-items: center;
    padding: 1rem 2rem;
    background-color: black;
    z-index: 1000;
    box-sizing: border-box;
}

.navbar-links {
    display: flex;
    position: relative;
    gap: 2rem;
    list-style: none;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
}

.navbar-logo img {
    width: 210px;
    height: 71px;
    flex-shrink: 0;
}

.dropdown {
    position: relative;
}

.dropdown .arrow {
    margin-left: 5px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: black;
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    text-align: left;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu li {
    display: flex;
    min-width: 176.6px;
    padding: 10px;
    align-items: center;
    gap: 10px;
    padding: 10px;
    margin-bottom: 2px;
}

.dropdown-menu li a {
    color: var(--Valge, #FFF);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 19.6px */
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-menu li a:hover {
    color: #20C4F4;
}