.footer {
    width: 100%;
    margin-top: auto;
  }
  
  .black-section {
    background-color: black;
    color: white;
    padding: 1.3rem 0;
  }
  
  .white-section {
    background-color: white;
    color: black;
    padding: 0.5rem 0;
  }
  
  .footer-content {
    display: flex;
    max-width: 1128px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    row-gap: 20px;
    flex: 1 0 0;
    flex-wrap: wrap;
    padding: 0 20px;
  }
  
  .footer-logo {
    display: flex;
    width: 210px;
    height: 71px;
    justify-content: center;
    align-items: center;
  }

  .footer-logo img {
    max-width: 100%;
    height: auto;
  }

  .footer-info {
    display: flex;
    min-width: 270px;
    max-width: 530px;
    align-items: flex-start;
    align-content: flex-start;
    gap: 30px 36px;
    flex: 1 0 0;
    flex-wrap: wrap;
  }
  
  .contact-info,
  .voco-info,
  .privacy-info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
  }

  .contact-info {
    width: 109px;
  }

  .voco-info {
    width: 139px;
  }

  .privacy-info {
    width: 207px;
    gap: 6px;
  }
  
  .contact-info h3,
  .voco-info h3,
  .privacy-info h3 {
    color: #FFF;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    text-align: left;
    margin: 0 0 5px 0;
  }
  
  .contact-info p,
  .contact-info a,
  .voco-info p,
  .voco-info a {
      color: #FFF;
      font-family: Montserrat;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 140%;
      margin: 0;
      text-decoration: none;
  }

  .privacy-info p,
  .privacy-info a {
      color: #FFF;
      font-family: Montserrat;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 140%;
      margin: 0;
      text-decoration: none;
      display: block;
  }

  .contact-info a:hover,
  .privacy-info a:hover {
    color: #20C4F4; 
    text-decoration: underline; 
  }
  
  .white-section .footer-content {
    justify-content: center;
    text-align: center;
  }

  .footer-text {
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
}
